$main-color: #0f7699;
$secondary-color: #ffd166;
$third-color: #073b4c;
$fourth-color: #f0f0f0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: $main-color;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  width: 100vw;

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 15% 60% 25%;
  grid-template-columns: 100%;
}

.hero {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  h1 {
    font-size: clamp(2em, 50%, 8em);
    color: $fourth-color;
    margin-top: 2vh;
  }

  h2 {
    color: $secondary-color;
  }
}

.info {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  position: relative;
  border-radius: 2em;

  box-shadow: 0px 11px 50px -6px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 11px 50px -6px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 11px 50px -6px rgba(0, 0, 0, 0.64);

  display: flex;
  z-index: 0;

  .map-container {
    width: clamp(8em, 60vw, 25em);
    height: 20vh;
    border-radius: 1.3em;
    overflow: hidden;

    position: absolute;
    bottom: -15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    box-shadow: 0px 9px 20px 4px rgba(0, 9, 0, 0.6);

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
    }
  }

  .contacts-info-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      margin-bottom: 5vh;
    }

    ul li {
      border: 3px solid $third-color;
      padding: 0.3em 1.5em;
      border-radius: 1.5em;
      margin: clamp(0.1em, 2vh, 3em) 0;
      font-size: clamp(1.2em, 3%, 1.5em);
      text-align: center;

      i {
        font-size: 1.4em;
        color: $third-color;
      }

      a {
        color: $third-color;
        margin-left: clamp(0.5em, 5%, 2em);
      }
    }
  }
}

.footer-workers-img {
  z-index: -1;
  img {
    width: 100%;
    opacity: 0.2;
    mix-blend-mode: luminosity;
  }
}

.cls-1 {
  fill: $main-color;
}

.cls-2 {
  fill: $secondary-color;
}

.balls-dec {
  display: none;
}

@media only screen and (min-width: 400px) {
  .info {
    width: 80%;
    margin: auto;
    border-radius: 2em;

    margin-top: 4vh;
  }
}

@media only screen and (min-width: 600px) {
  .info {
    width: 60%;

    .map-container {
      width: clamp(8em, 40vw, 25em);
    }
  }
}

// @media only screen and (min-width: 800px) and (min-height: 605px) {
//   body {
//     background-color: $fourth-color;
//   }
//   .main-container {
//   }
// }

@media only screen and (max-height: 664px) {
  h1 {
    margin-top: 0.5vh;
    font-size: clamp(2em, 50%, 8em);
  }
  .main-container {
    grid-template-rows: 20% 55% 25%;
  }
  .contacts-info-container {
    ul {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 3em;
      a {
        font-size: 0.8em;
        margin-left: 0;
      }
      i {
        font-size: 0.8em;
      }
    }
  }
}
